<article ng-controller="contactCtrl as vm">
    <h1>Kontakt</h1>
    <form id="contactform" role="form" name="contactform" ng-submit="submit(contactform)">
        <div class="form-group" ng-class="{ 'has-error': vm.contactform.name.$invalid && vm.submitted }">
            <label for="name" class="control-label">Name</label>
            <input ng-model="formData.name" id="name" name="name" type="text" class="form-control" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.contactform.email.$invalid && vm.submitted }">
            <label for="email" class="control-label">E-Mail</label>
            <input ng-model="formData.email" id="email" name="email" type="email" class="form-control" required="">
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.contactform.reason.$invalid && vm.submitted }">
            <label for="reason" class="control-label">Grund</label>
            <select ng-model="formData.reason" id="reason" name="reason" class="form-control">
                <option></option>
                <option>
                    Anfrage
                </option>
                <option>
                    Geschichte melden
                </option>
                <option>
                    Technisches Problem
                </option>
                <option>
                    Diverses
                </option>
            </select>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.contactform.subject.$invalid && vm.submitted }">
            <label for="subject" class="control-label">Betreff</label>
            <input ng-model="formData.subject" id="subject" name="subject" type="text" class="form-control" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error': contactform.message.$invalid && submitted }">
            <label for="message" class="control-label">Nachricht</label>
            <textarea ng-model="formData.message" id="message" name="message" type="text" class="form-control" rows="10"></textarea>
        </div>
        <button ng-disabled="submitDisabled" type="submit" class="btn btn-default">Abschicken</button>
    </form>
    <p ng-class="result.class" style="padding: 15px; margin: 0;">{{ vm.result.message }}</p>
</article>