<article ng-controller="imprintCtrl as vm">
    <h1>Impressum</h1>

    <h2>Kontakt:</h2>
    <div class="row">
        <div class="col-md-4">
            <p>David Flury</p>
            <p><a href="mailto:david@saycle.xyz" target="_top">david@saycle.xyz</a></p>
            <br />
        </div>
        <div class="col-md-4">
            <p>Raphael Müller</p>
            <p><a href="mailto:raphael@saycle.xyz" target="_top">raphael@saycle.xyz</a></p>
            <br />
        </div>
        <div class="col-md-4">
            <p>Sebastian Brunner</p>
            <p><a href="mailto:sebastian@saycle.xyz" target="_top">sebastian@saycle.xyz</a></p>
            <br />
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2>Haftungsausschluss</h2>
    <p>Saycle übernimmt keinerlei Gewähr hinsichtlich der  inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit, politischen Korrektheit und  Vollständigkeit der Informationen.</p>
    <p>Haftungsansprüche gegen den saycle wegen Schäden materieller  oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw.  Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der  Verbindung oder durch technische Störungen entstanden sind, werden  ausgeschlossen.</p>
    <p>Alle  Angebote sind unverbindlich. Saycle behält es sich ausdrücklich vor, Teile  der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern,  zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig  einzustellen.</p>
    <p>Alle Inhalte sind Eigentum von saycle..</p>
    <p>&nbsp;</p>
    <h2>Haftung für Links</h2>
    <p>Verweise und Links auf Webseiten  Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten  abgelehnt.  Der Zugriff und die Nutzung solcher Webseiten erfolgen  auf eigene Gefahr des Nutzers oder der Nutzerin. </p>
    <p>&nbsp;</p>
    <h2>Urheberrechte</h2>
    <p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich <strong>der Firma saycle</strong> oder den speziell genannten  Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p>
    <p>&nbsp;</p>
    <h2>Datenschutz</h2>
    <p>Gestützt auf Artikel 13 der schweizerischen Bundesverfassung  und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG)  hat jede Person Anspruch auf Schutz ihrer Privatsphäre sowie auf Schutz vor  Missbrauch ihrer persönlichen Daten. Wir halten diese Bestimmungen ein.  Persönliche Daten werden streng vertraulich behandelt und weder an Dritte  verkauft noch weiter gegeben.</p>
    <p>In enger Zusammenarbeit mit unseren Hosting-Providern  bemühen wir uns, die Datenbanken so gut wie möglich vor fremden Zugriffen, Verlusten,  Missbrauch oder vor Fälschung zu schützen.</p>
    <p>Beim Zugriff auf unsere Webseiten werden folgende Daten in  Logfiles gespeichert: IP-Adresse, Datum, Uhrzeit, Browser-Anfrage und allg.  übertragene Informationen zum Betriebssystem resp. Browser. Diese Nutzungsdaten  bilden die Basis für statistische, anonyme Auswertungen, so dass Trends  erkennbar sind, anhand derer wir unsere Angebote entsprechend verbessern  können. </p>
    <p>&nbsp;</p>
    <h2>Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button) </h2>
    <p>Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601  South California Avenue, Palo Alto, CA 94304, USA integriert. Die  Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem  "Like-Button" ("Gefällt mir") auf unserer Seite. Eine  Übersicht über die Facebook-Plugins finden Sie hier:  http://developers.facebook.com/docs/plugins/. </p>
    <p>Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte  Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook  erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite  besucht haben. Wenn Sie den Facebook "Like-Button" anklicken während  Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer  Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch  unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir  als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie  deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie  in der Datenschutzerklärung von facebook unter  https://www.facebook.com/about/privacy/ </p>
    <p>Wenn Sie nicht  wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto  zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus. </p>
    <p>&nbsp;</p>
    <h2>Datenschutzerklärung für die Nutzung von Google Adsense </h2>
    <p>Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von  Werbeanzeigen der Google Inc. ("Google"). Google AdSense verwendet  sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert  werden und die eine Analyse der Benutzung der Website ermöglicht. Google  AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch  diese Web Beacons können Informationen wie der Besucherverkehr auf diesen  Seiten ausgewertet werden. </p>
    <p>Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung  dieser Website (einschließlich Ihrer IP-Adresse) und Auslieferung von  Werbeformaten werden an einen Server von Google in den USA übertragen und dort  gespeichert. Diese Informationen können von Google an Vertragspartner von  Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch nicht mit  anderen von Ihnen gespeicherten Daten zusammenführen. </p>
    <p>Sie können die Installation der Cookies durch eine entsprechende  Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf  hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser  Website voll umfänglich nutzen können. Durch die Nutzung dieser Website  erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google  in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck  einverstanden. </p>
    <p>&nbsp;</p>
    <h2>Datenschutzerklärung für die Nutzung von Google Analytics</h2>
    <p> Diese Website benutzt Google Analytics, einen Webanalysedienst der  Google Inc. ("Google"). Google Analytics verwendet sog.  "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und  die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den  Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der  Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im  Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre  IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen  Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum  zuvor gekürzt. </p>
    <p>Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von  Google in den USA übertragen und dort gekürzt. Google wird diese  Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports  über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um  weitere mit der Websitenutzung und der Internetnutzung verbundene  Dienstleistungen zu erbringen. Auch wird Google diese Informationen  gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder  soweit Dritte diese Daten im Auftrag von Google verarbeiten. Die im  Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird  nicht mit anderen Daten von Google zusammengeführt. </p>
    <p>Sie können die Installation der Cookies durch eine  entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie  jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche  Funktionen dieser Website voll umfänglich nutzen können. Durch  die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie  erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu  dem zuvor benannten Zweck einverstanden.</p>


</article>