<article ng-controller="imprintCtrl as vm">
    <h1>{{'Imprint.Title' | translate}}</h1>

    <h2>{{'Imprint.Authors' | translate}}</h2>
    <div class="row">
        <div class="col-md-4" id="david">
            <div>
                <div class="speech-container"><p class="speech">{{'Imprint.SpeechDavid' | translate}}</p></div>
                <img src="/public/content/images/portraits/portrait-david.png" class="portrait" style="width: 215px; height: 215px;"/>
            </div>
            <div>
                <p>David Flury</p>
                <p>
                    <a href="mailto:david@saycle.xyz" target="_top">david@saycle.xyz</a>
                </p>
            </div>
            <br />
        </div>
        <div class="col-md-4" id="raphael">
            <div>
                <div class="speech-container"><p class="speech">{{'Imprint.SpeechRaphael' | translate}}</p></div>
                <img src="/public/content/images/portraits/portrait-raphael.png" class="portrait" style="width: 215px; height: 215px;" />
            </div>
            <div>
                <p>Raphael Müller</p>
                <p>
                    <a href="mailto:raphael@saycle.xyz" target="_top">raphael@saycle.xyz</a>
                </p>
                <br />
            </div>
        </div>
        <div class="col-md-4" id="sebastian">
            <div>
                <div class="speech-container"><p class="speech">{{'Imprint.SpeechSebastian' | translate}}</p></div>
                <img src="/public/content/images/portraits/portrait-sebastian.png" class="portrait" style="width: 215px; height: 215px;" />
            </div>
            <div>
                <p>Sebastian Brunner</p>
                <p>
                    <a href="mailto:sebastian@saycle.xyz" target="_top">sebastian@saycle.xyz</a>
                </p>
            </div>
        </div>
    </div>
    <div id="about">
        <h2>{{'Imprint.About' | translate}}</h2>
        <span>
            {{'Imprint.AboutText' | translate}}
        </span>
    </div>
    <div id="fork">
        <h3>Fork us on github</h3>
        <iframe src="https://ghbtns.com/github-btn.html?user=saycle&repo=saycle&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
    </div>
    <br />
    <div id="extended-imprint">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">{{'Imprint.ExtendedImprint' | translate}}</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse out">
                    <span>site design / logo © {{vm.year}} saycle; user contributions licensed under cc by-sa 3.0 with attribution required</span>
                </div>
            </div>
        </div>
    </div>

</article>