<article ng-controller="rankingCtrl as vm">
    <h1>Ranking</h1>
    <div id="podest">
        <div id="podest-2" class="podest-block-wrapper">
            <div class="podest-user">{{vm.users[1].username}}</div>
            <div class="podest-block">2</div>
        </div>
        <div id="podest-1" class="podest-block-wrapper">
            <div class="podest-user">{{vm.users[0].username}}</div>
            <div class="podest-block">2</div>
        </div>
        <div id="podest-3" class="podest-block-wrapper">
            <div class="podest-user">{{vm.users[2].username}}</div>
            <div class="podest-block">3</div>
        </div>
    </div>
    <div id="ranking-list">

        <div class="table-responsive">
            <table class="table table-hover table-stripped">
                <thead>
                    <tr>
                        <th>Benutzername</th>
                        <th>Anzahl Zeichen</th>
                        <th>Letzter Eintrag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.users">
                        <td>
                            {{user.username}}
                        </td>
                        <td>
                            {{user.charCount}}
                        </td>
                        <td>
                            <a href="/story-detail/{{user.recentStoryId}}">{{user.recentStoryTitle}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>