<article ng-controller="storyDetailCtrl as vm">
    <div>
        <!--<h3>{{vm.id}}</h3>-->
        <h1>{{vm.story.title}}</h1>
    </div>
    <div ng-if="vm.story != null">
        <div class="panel panel-default">
            <div class="panel-heading">Autor: {{vm.story.username}}, Erstelldatum: {{vm.story.date | date: 'dd.MM.yyyy HH:mm'}}</div>
            <div class="panel-body">
                <span id="story-content" ng-repeat="cycle in vm.story.cycles">
                    <a href="#" class="cycle-item" tooltip-placement="bottom" uib-tooltip="Autor: {{cycle.username}} ({{cycle.date | date: 'dd.MM.yyyy HH:mm'}})">
                        {{cycle.text}}
                    </a>
                </span>
                <span ng-show="vm.isEditing()" contenteditable="true" ng-click="vm.contribution.text = ''" ng-model="vm.contribution.text">Füge hier deine spannende Erweiterung an.</span>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button ng-if="(vm.story.isLockedBy == null)" id="cycleEditButton" class="btn btn-primary" ng-click="vm.editStory(this)">Edit</button>
                    <button ng-disabled="vm.contribution.text == ''" ng-if="vm.isEditing()" id="cycleSaveButton" class="btn btn-primary" ng-click="vm.saveStory(this)">Save</button>
                    <p class="bg-info" ng-if="vm.story.isLockedBy != null && vm.story.isLockedBy != vm.auth.currentUser.name">(user '{{vm.story.isLockedBy}}' is currently editing this story)</p>
                </div>
            </div>
        </div>
    </div>
</article>