<article ng-controller="storyDetailCtrl as vm">
    <a class="btn btn-default" href="/">&lt; {{'StoryDetail.BackToStoryList' | translate}}</a>
    <div>
        <h1>{{vm.story.title}}</h1>
    </div>
    <div ng-if="vm.story != null">
        <div class="panel panel-default">
            <div class="panel-heading">{{'StoryDetail.Author' | translate}}: {{vm.story.username}}, {{'StoryDetail.DateOfCreationText' | translate}}: <span am-time-ago="vm.story.date"></span></div>
            <div class="panel-body">
                <span id="story-content" ng-repeat="cycle in vm.story.cycles">
                    <a href="#" class="cycle-item" tooltip-placement="bottom" uib-tooltip="{{'StoryDetail.Author' | translate}}: {{cycle.username}} ({{cycle.date | amTimeAgo}})">
                        <span ng-bind-html="cycle.text | breakFilter"></span>
                    </a>
                </span>
                <i><span ng-bind-html="vm.contribution | breakFilter"></span></i>
                <textarea class="form-control msd-elastic" style="margin-top:20px;" ng-show="vm.isEditing()" ng-trim="false" ng-model="vm.contribution" placeholder="Füge hier deine spannende Erweiterung an."></textarea>
            </div>
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <div id="social-share">
                        <div class="md-12">
                            <div data-href="{{vm.currentUrl}}" data-layout="button" class="btn facebook fb-share-button" ></div>
                        </div>
                    </div>
                    <div ng-if="vm.story.active == true">
                        <button ng-if="(vm.story.isLockedBy == null)" id="cycleEditButton" class="btn btn-primary" ng-click="vm.editStory(this)">{{'StoryDetail.ButtonEditText' | translate}}</button>
                        <button ng-if="vm.isEditing()" id="cycleSaveButton" class="btn btn-default" ng-click="vm.cancelEdit()">{{'StoryDetail.CancelEdit' | translate}}</button>
                        <button ng-disabled="vm.contribution.text == ''" ng-if="vm.isEditing()" id="cycleSaveButton" class="btn btn-primary" ng-click="vm.saveStory(this)">{{'StoryDetail.ButtonSaveText' | translate}}</button>
                        <p id="inTurnFadingTextG" ng-if="vm.story.isLockedBy != null && vm.story.isLockedBy != vm.auth.currentUser.name">
                            <span>{{'StoryDetail.StoryIsLockedText' | translate: vm.story }}</span>
                            <span id="inTurnFadingTextG_1" class="inTurnFadingTextG">.</span>
                            <span id="inTurnFadingTextG_2" class="inTurnFadingTextG">.</span>
                            <span id="inTurnFadingTextG_3" class="inTurnFadingTextG">.</span>
                        </p>
                    </div>
                    <div ng-if="vm.story.active == false">
                        <p class="storyInactive">{{'StoryDetail.StoryDeactivated' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>