<div>
    <h1>Story-List: {{message}}</h1>
</div>
<div ng-repeat="story in stories">
    <div class="panel panel-default">
        <div class="panel-heading">{{story.title}}</div>
        <div class="panel-body">{{story.content_start}}...<br />...{{story.content_end}}</div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a href="#" class="btn btn-primary" ng-show="story.isnotlocked">saycle!</a>
                <a href="/story-detail" class="btn btn-default">full story</a>
            </div>
        </div>
    </div>
</div>