<article ng-controller="storyListCtrl as vm">
    <div>
        <h1>{{ 'StoryList.AllStories' | translate}}</h1>
        <p>{{'StoryList.IntroductionText' | translate}}</p>
    </div><br />
    <div class="list-group" id="story-list">
        <a href="/story-detail/{{story.id}}" class="list-group-item" ng-repeat="story in vm.stories" ng-if="vm.isAdmin() || !story.deleted" ng-class="{deleted: story.deleted}">
            <h4 class="list-group-item-heading">
                {{story.title}}
                <span class="float-right">
                    <span class="badge">{{story.cyclecount}} {{'StoryList.CycleCount' | translate}}</span>
                    <span ng-if="vm.isAdmin() && !story.deleted" class="admin-story-option" id="delete-story-wrapper" ng-click="$event.preventDefault(); vm.deleteStory(story.id)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </span>
                    <span ng-if="vm.isAdmin() && story.deleted" class="admin-story-option" id="undelete-story-wrapper" ng-click="$event.preventDefault(); vm.undeleteStory(story.id)">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </span>
                    <span ng-if="vm.isAdmin() && story.deleted" class="admin-story-option" id="finaldelete-story-wrapper" ng-click="$event.preventDefault(); vm.finalDeleteStory(story.id)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                </span>
            </h4>
            <p class="list-group-item-text">{{'StoryList.CreatedBy' | translate}} {{story.username}} ({{story.date | date:'dd.MM.yyyy'}}) | {{'StoryList.Modified' | translate}} <span am-time-ago="story.modified"></span></p>
        </a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'StoryList.AddStoryTitle' | translate}}</h3>
        </div>
        <div class="panel-body">
            <input placeholder="{{'StoryList.AddStoryBody' | translate}}" class="form-control" type="text" ng-model="vm.newStoryTitle" />
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" ng-click="vm.addStory(false)" ng-disabled="vm.newStoryTitle == '' || vm.newStoryTitle == null">{{'StoryList.AddStoryButton' | translate}}</button>
        </div>
    </div>
</article>
