@import url('http://fonts.googleapis.com/css?family=Noto+Serif');

body {
    font: 18px "Noto Serif";
    line-height: 1.6em;
}

a {
    color: #00B7FF;
}

h1, h2, h3 {
}

h1 {
}

h2 {
}

h3 {
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

textarea.form-control {
    max-width: 100% !important;
}

.panel-collapse {
    margin: 30px;
}

.navbar-default {
    background-color: #FFFFFF;
    height: 50px;
    border: none;
    z-index: 10;
}

.navbar-brand {
    padding: 7px 20px 7px 20px;
}

.nav a {
    font-size: 20px;
}

.navbar a.btn {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: none;
}

.glyphicon {
    margin-right: 10px;
}

.badge {
    float: right;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFFFFF;
    background-color: #384952;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
    border: none;
    overflow: visible;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

.navbar-collapse {
    overflow: hidden !important;
}


.dropdown-menu {
    width: 100%;
    margin-top: -2px !important;
    padding: 10px 20px 20px;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.navbar-right {
    /*padding-right: 10%;*/
}

    .navbar-right li {
        -moz-min-width: 200px;
        -ms-min-width: 200px;
        -o-min-width: 200px;
        -webkit-min-width: 200px;
        min-width: 200px;
    }

main {
    max-width: 940px;
    margin: 0 auto;
}


article {
    margin: 5% 0;
}

.languages {
    padding-top: 10px;
    margin-left: 30px;
}

    .languages a {
        cursor: pointer;
        opacity: 0.5;
    }

        .languages a.active, .languages a:hover {
            opacity: 1;
        }

@media (max-width: 1279px) {
    .languages {
        float: none !important;
        margin-left: 15px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
        padding-bottom: 10px;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    .navbar a.btn {
        margin-top: 20px;
        padding: 15px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    #logout-button {
        margin-bottom: 20px;
    }

    #addStoryButton {
        margin-top: 10px;
    }

    .btn-facebook {
        float: right;
        margin-top: 0 !important;
    }
}

a.cycle-item {
    color: black;
}

    a.cycle-item:hover {
        color: black;
    }

#story-contribution {
    display: none;
    outline: none;
    font-style: italic;
}

    #story-contribution.visible {
        display: initial;
    }

    #story-contribution .placeholder {
        color: darkgrey;
    }


#podest {
    width: 90%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#podest-1.podest-block-wrapper {
    height: 50%;
    top: 50%;
}

#podest-2.podest-block-wrapper {
    height: 35%;
    top: 65%;
}

#podest-3.podest-block-wrapper {
    height: 25%;
    top: 75%;
}

.podest-block-wrapper {
    height: 100%;
    padding: 0;
}

.podest-block {
    background-color: #384952;
    text-align: center;
    margin-bottom: 0;
    color: white;
    padding-top: 8%;
    font-size: 200%;
}

#podest-1 .podest-block {
    color: #FFD700;
    height: 100%;
    font-size: 300%;
}

#podest-2 .podest-block {
    height: 100%;
}

#podest-3 .podest-block {
    height: 100%;
}

.podest-user {
    text-align: center;
    color: black;
    width: 100%;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-top: -15%;
}

#podest-1 .podest-user {
    -webkit-animation: fadein 7s;
    -moz-animation: fadein 7s;
    -ms-animation: fadein 7s;
    -o-animation: fadein 7s;
    animation: fadein 7s;
    margin-left: -100%;
    width: 300%;
    font-size: 315%;
    margin-top: -90px;
}

#podest-2 .podest-user {
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s;
    -o-animation: fadein 4s;
    animation: fadein 4s;
    font-size: 210%;
    margin-top: -60px;
}

#podest-3 .podest-user {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    font-size: 140%;
    margin-top: -40px;
}

#ranking-list {
    margin-top: 60px;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#inTurnFadingTextG {
    margin: auto;
}

.inTurnFadingTextG {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    animation-name: bounce_inTurnFadingTextG;
    -o-animation-name: bounce_inTurnFadingTextG;
    -ms-animation-name: bounce_inTurnFadingTextG;
    -webkit-animation-name: bounce_inTurnFadingTextG;
    -moz-animation-name: bounce_inTurnFadingTextG;
    animation-duration: 2.09s;
    -o-animation-duration: 2.09s;
    -ms-animation-duration: 2.09s;
    -webkit-animation-duration: 2.09s;
    -moz-animation-duration: 2.09s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#inTurnFadingTextG_1 {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#inTurnFadingTextG_2 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#inTurnFadingTextG_3 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}




@keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-o-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-ms-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

@-moz-keyframes bounce_inTurnFadingTextG {
    0% {
        color: rgb(0,0,0);
    }

    100% {
        color: rgb(255,255,255);
    }
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
    margin-top: 8px;
    font-size: inherit !important;
}

#david:hover .speech-container { visibility: visible; }
#raphael:hover .speech-container { visibility: visible; }
#sebastian:hover .speech-container { visibility: visible; }

.speech-container {
    position: absolute;
    left: 170px;
    top: -50px;
    visibility: collapse;
}

p.speech {
    position: relative;
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 60px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

    p.speech:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 30px;
        top: 64px;
        border: 25px solid;
        border-color: #666 transparent transparent #666;
    }

    p.speech:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 38px;
        top: 64px;
        border: 15px solid;
        border-color: #fff transparent transparent #fff;
    }

    .modal-body {
        padding: 20px 50px;
    }