@import url('http://fonts.googleapis.com/css?family=Noto+Serif');

body {
    font: 14px "Noto Serif";
}

a {
    color: #00B7FF;
}

h1, h2, h3 {
}

h1 {
}

h2 {
}

h3 {
}


.navbar-default {
    background-color: #FFFFFF;
    height: 50px;
    border: none;
}

.navbar-brand {
    padding: 7px 20px 7px 20px;
}

.nav a {
    font-size: 20px;
}

.glyphicon {
    margin-right: 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFFFFF;
    background-color: #384952;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
    border: none;
    overflow: visible;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}


.dropdown-menu {
    padding: 10px 20px 20px;
}

.navbar-right {
    margin-right: 10%;
}

.navbar-right ul li {
    -moz-min-width: 200px;
    -ms-min-width: 200px;
    -o-min-width: 200px;
    -webkit-min-width: 200px;
    min-width: 200px;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

article {
    margin-top: 5%;
}




@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}