<form id="login-form" role="form" ng-controller="loginCtrl">
    {{test}}
    <div class="form-group">
        <label for="login-email">E-Mail Adresse</label>
        <input type="email" class="form-control" id="login-email">
    </div>
    <div class="form-group">
        <label for="login-password">Passwort</label>
        <input type="password" class="form-control" id="login-password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox">Eingeloggt bleiben</label>
    </div>
    <button type="submit" class="btn btn-default">Registrieren</button>
</form>