<form id="register-form" name="register-form" role="form" id="register-form" ng-controller="registerCtrl as vm">
    <div class="form-group">
        <label for="register-username">Benutzername</label>
        <input ng-model="vm.userToRegister.name" type="text" class="form-control" id="register-username">
    </div>
    <div class="form-group">
        <label for="register-email">E-Mail Adresse</label>
        <input ng-model="vm.userToRegister.email" type="email" class="form-control" id="register-email">
    </div>
    <div class="form-group">
        <label for="register-password">Passwort</label>
        <input ng-model="vm.userToRegister.password" type="password" class="form-control" id="register-password">
    </div>
    <div class="form-group">
        <label for="register-passwordConfirm">Passwort bestätigen</label>
        <input type="password" class="form-control" id="register-passwordConfirm">
    </div>
    <button type="submit" class="btn btn-default" ng-click="vm.register()">Registrieren</button>
</form>