<div ng-controller="registerCtrl as vm">
    <form id="register-form" name="registerform" role="form" ng-submit="registerform.$valid && vm.register()">
        <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && registerform.name.$invalid }">
            <label for="register-username">{{'Register.Username' | translate}}</label>
            <input ng-model="vm.formData.name" name="name" type="text" class="form-control" id="register-username" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && registerform.email.$invalid }">
            <label for="register-email">{{'Register.Email' | translate}}</label>
            <input ng-model="vm.formData.email" name="email" type="email" class="form-control" id="register-email" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && registerform.password.$invalid }">
            <label for="register-password">{{'Register.Password' | translate}}</label>
            <input ng-model="vm.formData.password" name="password" type="password" class="form-control" id="register-password" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (vm.formSubmitted && registerform.passwordConfirm.$invalid) || !(vm.formData.password == vm.formData.passwordConfirm) }">
            <label for="register-passwordConfirm">{{'Register.PasswordConfirm' | translate}}</label>
            <input ng-model="vm.formData.passwordConfirm" name="passwordConfirm" type="password" class="form-control" id="register-passwordConfirm" required>
        </div>
        <button ng-disabled="vm.submitDisabled || registerform.$invalid" type="submit" class="btn btn-default">{{'Register.Register' | translate}}</button>
    </form>
</div>